@font-face {
    font-family: 'Satoshi';
    src: url('../Satoshi/Satoshi-Black.woff2') format('woff2'),
        url('../Satoshi/Satoshi-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi Black';
    src: url('../Satoshi/Satoshi-Black.woff2') format('woff2'),
        url('../Satoshi/Satoshi-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../Satoshi/Satoshi-Medium.woff2') format('woff2'),
        url('Satoshi-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi Regular';
    src: url('../Satoshi/Satoshi-Regular.woff2') format('woff2'),
        url('../Satoshi/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

