@font-face {
  font-family: 'Integral CF Regular';
  src: url('../src/assets/font/Integral-CF/FONTSPRINGDEMO-IntegralCFBoldRegular.woff2') format('woff2'),
      url('../src/assets/font/Integral-CF/FONTSPRINGDEMO-IntegralCFBoldRegular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Integral CF Medium Regular';
  src: url('../src/assets/font/Integral-CF/FONTSPRINGDEMO-IntegralCFMediumRegular.woff2') format('woff2'),
      url('../src/assets/font/Integral-CF/FONTSPRINGDEMO-IntegralCFMediumRegular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Integral CF';
  src: url('../src/assets/font/Integral-CF/FONTSPRINGDEMO-IntegralCFRegular.woff2') format('woff2'),
      url('../src/assets/font/Integral-CF/FONTSPRINGDEMO-IntegralCFRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../src/assets/font/Satoshi/Satoshi-Black.woff2') format('woff2'),
      url('../src/assets/font/Satoshi/Satoshi-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi Black';
  src: url('../src/assets/font/Satoshi/Satoshi-Black.woff2') format('woff2'),
      url('../src/assets/font/Satoshi/Satoshi-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../src/assets/font/Satoshi/Satoshi-Medium.woff2') format('woff2'),
      url('../src/assets/font/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi Regular';
  src: url('../src/assets/font/Satoshi/Satoshi-Regular.woff2') format('woff2'),
      url('../src/assets/font/Satoshi/Satoshi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: 'Satoshi', sans-serif, Avenir, Helvetica, Arial, sans-serif;
  line-height: 22px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  width: 300px;
  font-weight: 500;
  color: #242424;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
